@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  color: #000000e0;
}

html.dark {
  color-scheme: dark;
  color: #ffffffd9;
  background-color: #141414;
}

a.link {
  @apply text-gray-700 hover:text-black dark:text-gray-300 dark:hover:text-white;
}

a.link.active {
  @apply text-blue-600 font-semibold;
}

.row {
  @apply text-base flex mb-1 lg:mb-2;
}

.info-label {
  @apply flex-shrink-0;
}

.info-label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}

.page {
  @apply px-1 md:px-2 lg:px-4;
}
