/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.description-row {
  @apply text-sm flex;
}

.detail-row {
  @apply text-base flex mb-2;
}

.detail-row-label,
.description-row-label {
  @apply flex-shrink-0;
}

.detail-row-label::after,
.description-row-label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}

.detail-row-content,
.description-row-content {
  @apply truncate;
}

.description-row-content-row-2 {
  height: 40px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#nav a {
  color: #ffffffd9;
  @apply text-base px-2 hover:text-white;
}
#nav a.active {
  @apply text-white font-bold;
}
