/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.dark.css';

.row {
  @apply text-base flex mb-1 lg:mb-2;
}

.info-label {
  @apply flex-shrink-0;
}

.info-label::after {
  content: ':';
  position: relative;
  top: -0.5px;
  margin: 0 8px 0 2px;
}

/* lg */
@media (min-width: 1024px) {
  #info-tabs .ant-tabs-content {
    height: calc(100vh - 200px);
    overflow: auto;
  }
  #detail {
    height: calc(100vh - 102px);
    overflow: hidden;
  }
}

/* header */
#header .link {
  color: #ffffffd9;
  @apply text-base md:px-2 text-center;
}
#header .link:hover {
  color: #fff;
}
#header .link.active {
  color: #fff;
  @apply font-bold text-green-400;
}

/* page */

.page {
  @apply md:p-2 lg:p-4;
}


/* scrollbar */
#info-tabs .ant-tabs-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#info-tabs .ant-tabs-content::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

#info-tabs .ant-tabs-content::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

#info-tabs .ant-tabs-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153,.3);
}